VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
DB_URL=jdbc:mysql://localhost:3306/myfirstapp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=YOUR_DB_PASSWORD

JWT_SECRET=YOUR_JWT_SECRET_HERE
JWT_EXPIRATION=86400000

EMAIL_USERNAME=YOUR_EMAIL@gmail.com
EMAIL_PASSWORD=YOUR_APP_PASSWORD
